body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-header{
    color: #fff !important;
    line-height: 64px;
    background: rgb(0, 187, 255) !important;
}

.app-footer{
  color: #fff !important;
  line-height: 64px;
  background: rgb(0, 187, 255) !important;
}